In [1]:
import sqlite3
import pandas as pd
from IPython.display import display

def afficher_tables_bdd(nom_bdd, tables):
    try:
        conn = sqlite3.connect(nom_bdd)
        cursor = conn.cursor()

        if tables is None:
            # Récupérer tous les noms de tables dans la base
            cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
            tables = [row[0] for row in cursor.fetchall()]

        for table in tables:
            print(f"\nTable : {table}")
            df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
            display(df)
    except Exception as e:
        print(f"Erreur lors de l'accès à la base : {e}")
    finally:
        conn.close()

In [2]:
afficher_tables_bdd("transparence_ia.db",None)

Table : sqlite_sequence

           name  seq
0     Principes    4
1      Concepts    5
2  SousConcepts   18
3     Relations   11

Table : Principes

   id              nom
0   1   RESPONSABILITE
1   2     TRANSPARENCE
2   3  CONFIDENTIALITE
3   4          JUSTICE

Table : Concepts

   id                                     nom  principe_id
0   1                transparence des données            1
1   2             Explicabilité des décisions            1
2   3             Gouvernance et redevabilité            2
3   4  Accessibilité et clarté pour le public            2
4   5    Conformité aux normes et régulations            2

Table : SousConcepts

    id                                    nom  concept_id
0    1               Nettoyage pré-traitement           1
1    2               Identification des biais           1
2    3                   Explications locales           2
3    4                      Archivage et logs           3
4    5                           Auditabilité           3
5    6                   Mécanisme de recours           3
6    7                 Suivi post-déploiement           3
7    8              Transparence contextuelle           4
8    9         Disponibilité des informations           4
9   10  Alignement aux normes internationales           5
10  12                    qualité des données           1
11  14                  explications globales           2
12  15       identifications des responsables           3
13  16             Lisbilité des informations           4
14  17                      Conformité AI Act           5
15  18                            Traçabilité           1

Table : Relations

   id  source_id  cible_id type_relation
0   8         12         1    dépendance
1   9          2         1    dépendance
2  10          1        18    dépendance
3  11          2        18    dépendance

In [63]:
# Delete table

# import sqlite3

# conn = sqlite3.connect("transparence_ia.db")
# cursor = conn.cursor()

# cursor.execute("""
# DELETE FROM SousConcepts
# WHERE concept_id = (?) and nom = (?);
# """, ("1","explications globales"))

# conn.commit()
# conn.close()

In [64]:
# import sqlite3

# # Connexion à la base
# conn = sqlite3.connect("transparence_ia.db")
# cursor = conn.cursor()

# # Requête SQL de mise à jour
# ancien_nom = "Conformité AI Act"
# nouveau_nom = "Conformité aux normes et régulations"

# cursor.execute("""
# UPDATE Concepts
# SET nom = ?
# WHERE nom = ?;
# """, (nouveau_nom, ancien_nom))

# # Sauvegarde des modifications
# conn.commit()

# # Vérification
# cursor.execute("SELECT * FROM Concepts;")
# for row in cursor.fetchall():
#     print(row)

# # Fermeture
# conn.close()

In [56]:
# import sqlite3

# conn = sqlite3.connect("transparence_ia.db")
# cursor = conn.cursor()

# cursor.execute("DELETE FROM Relations;")

# conn.commit()
# conn.close()